* {
	margin: 0;
	padding: 0;
}

.bar {
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3)), url(backrd.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.navbar-style {
	box-shadow: 0 5px 10px #fa8100;
	text-transform: uppercase;
	background-color: #524f4c;
}

.nav {
	margin-top: 50px;
}

.icon-bar {
	background: white;
}

li a {
	color: #f2ebe4;
}

.name {
	padding-top: 200px;
	font-size: 55px;
	color: #140f0f;
}

.job {
	font-size: 45px;
	
	color: #140f0f;
}

a.btn {
	border-radius: 20px;
	width: 100px;
}

#skills {
	background-color: #c1cdf7;
}

#projects {
	background-color: #e0a4a4;
}

#contact {
	background-color: #b4eced;
}

img.sch {
	height: 70%;
	width: 70%;
}

.sch:hover {
	opacity: 0.3
}

a {
  position: relative;
}

a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: #ddd;
  padding: 20px;
  font-size: 15px;
  color: white;
}

a:hover span {
  display: block;
}

.sum {
	padding-top: 10px;
	
}

